[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/parallel-rdp-standalone"]
	path = ext/parallel-rdp-standalone
	url = https://github.com/Themaister/parallel-rdp-standalone
[submodule "ext/nativefiledialog-extended"]
	path = ext/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "ext/asmjit"]
	path = ext/asmjit
	url = https://github.com/asmjit/asmjit
